@font-face {
  font-family: "Catamaran";
  src: url(./fonts/Catamaran/static/Catamaran-Thin.ttf);
}

@font-face {
  font-family: "Lato";
  src: url(./fonts/Lato/Lato-Light.ttf);
}

@font-face {
  font-family: "Muli";
  src: url(./fonts/Mulish/static/Mulish-Light.ttf);
}

h1,
.h1 {
  font-family: "Catamaran", Helvetica, Arial, sans-serif;
}

p {
  font-family: "Muli", Helvetica, Arial, sans-serif;
}

footer {
  font-family: "Muli", Helvetica, Arial, sans-serif;
}

#navbarSupportedContent > ul > li.nav-item > a,
button {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #a6a6a6;
}

.btn-outline-light:hover {
  transition-delay: 0.3s;
  color: #ffffff;
  background-color: #fdcc52;
  border-color: #fdcc52;
}

/* HEADER */

.navbar {
  background-color: inherit;
}

.navbar-light .navbar-brand {
  color: #ffcd01;
}

.navbar-brand {
  color: #ffcd01;
  font-size: 2rem;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-toggler {
  font-size: 1rem;
  font-weight: 900;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: 50%/100% 100% no-repeat;
}

header {
  background-image: url("./img/bg-pattern.png"), url("./img/bg-pattern.png"),
    linear-gradient(90deg, rgba(218, 36, 49, 1) 0%, rgba(122, 67, 151, 1) 65%);
}

.starNowFree {
  width: 20.5rem;
  border: 1px solid #ffffff;
  border-radius: 30px;
  padding: 1rem 0.5rem;
  letter-spacing: 0.2rem;
}

.mobile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 710px;
  background-image: url("./img/phone.png");
  background-size: cover;
}

.phoneScreen {
  position: relative;
  top: -1px;
  left: 1px;
  width: 310px;
  height: 545px;
  background-image: url("./img/demo-screen-1.jpg");
  background-size: cover;
  border-radius: 1px;
}

/* MAIN / APPS */

.apps {
  background-color: #fdca4a !important;
}
.discover {
  font-size: 3.5rem;
}

.appsParag {
  font-size: 1.5rem;
}

.googlePlay,
.appStore {
  width: 300px;
  cursor: pointer;
}

/* APP THEM */

.unlimited {
  font-size: 3.5rem;
}

.featuresIcons {
  background: linear-gradient(
    90deg,
    rgba(218, 36, 49, 1) 0%,
    rgba(148, 59, 127, 1) 65%
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 5rem;
}

/* STOP WAITING */

.stopWaiting {
  height: 32rem;
  width: 100vw;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(./img/bg-cta.jpg);
  background-size: cover;
  background-position: center;
}

.stopWaiting h2 {
  font-size: 3rem;
}

.letsGetStarted {
  width: 15.5rem;
  border: 1px solid #ffffff;
  border-radius: 30px;
  padding: 1rem 0.5rem;
  letter-spacing: 0.2rem;
}

/* FOOTER */

.social {
  background-color: rgba(253, 202, 74, 0.9);
}

.social:hover {
  background-color: rgba(253, 202, 74, 1);
}

.fa-heart {
  color: #ff3d41;
}

footer h2 {
  font-size: 4rem !important;
}

.privacy {
  background-color: #323232;
}

.footerModal:hover {
  cursor: pointer;
  color: #fdcc52 !important;
}

html {
  scroll-behavior: smooth;
}
